.header {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #213053;
	position: sticky;
	top: 0;
	z-index: 1;
	@include maxWidth("", rgb(235, 236, 236));

	&__logo {
		height: 30px;
	}

	a {
		font-size: 15px;
		font-weight: 600;
		margin-right: 25px;
	}
}

@media screen and (max-width: 721px) {
	.header {
		&__logo {
			height: 20px;
		}
	}
}
